@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    padding-top: 5%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f5f5dc;
}

h1 {
    text-align: center;
    line-height: 4em;
}

.row {
    margin-bottom: 2em;
}

 