@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap');

body {
    padding-top: 5%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f5f5dc;
}

h1 {
    text-align: center;
    line-height: 4em;
}

h2 {
    line-height: 2em;
}

h3 {
    font-size: 1.3em;
}

.row {
    margin-bottom: 2em;
}

.decorative-text {
    font-family: 'Pacifico', sans-serif;
    font-size: 30px;
    color: pink;
    line-height: 3em;
}

