body {
  margin: 0;
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 4px;
  margin: 0 6px 6px 0;
}

.selection {
  margin-top: 3em;
}

.block {
  padding: 1em;
  margin: 1em;
}

.header {
  border: 2px solid rgb(230, 74, 191);
}

.hello {
  border: 2px solid rgb(104, 38, 190);
}

.main {
  border: 4px solid rgb(21, 150, 167);
}